<!--<div class="card">-->
<!--  <img class="img" src="{{mission.links.mission_patch_small}}" alt="Mission Image" style="width: 400px; height: 400px">-->
<!--  <div class="container" >-->
<!--    <h4><b>{{mission.mission_name}}</b></h4>-->
<!--    <h5><b>{{mission.launch_year}}</b></h5>-->
<!--    <p>{{mission.details}}</p>-->

<!--    <button (click)="navigate(mission)" mat-stroked-button color="primary">See More</button>-->
<!--  </div>-->
<!--</div>-->

<mat-card class="mat-elevation-z4">
  <mat-card-header>
    <mat-card-title>
      <p>
        {{mission.mission_name}}
      </p>
      <p>
        {{mission.launch_year}}
      </p>
    </mat-card-title>

  </mat-card-header>
  <img mat-card-image src="{{mission.links.mission_patch_small}}" alt="mission img">
  <mat-card-content>
    <p>
      {{mission.details}}
    </p>
  </mat-card-content>
  <mat-card-actions class="btns">
    <button color="primary" mat-flat-button>LIKE</button>
    <button color="primary" mat-flat-button (click)="navigate(mission)">See More</button>
  </mat-card-actions>
</mat-card>
